@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #181818;
    padding: 20px;
}

.header__container {
    display: flex;
}

.nav__bar {
    margin-top: 30px;
    display: flex;
}

.header__img {
    width: 60px;
}

.header__title{
    color: white;
    font-weight: 100;
    font-family: Impact;
    letter-spacing: 1px;
    margin-left: 10px;
    font-size: 60px;
}

.header__input {
    font-family: 'Poppins', sans-serif;
    padding-left: 30px;
    font-size: 24px;
    width: 450px;
    color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 25px;
    border-color: white;
    background-color: #181818;
}

.header__search {
    border-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: 0px;
    width: 100px;
    background-color: gray;
    background-image: url("https://cdn-icons-png.flaticon.com/512/49/49116.png");
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.header__search:hover {
    cursor: pointer;
}

.main__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 40px;
}



.figure__container, .img__article {
    width: 370px;
}

.title__article, .p__article{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: white;
}

.main__nav__button{
    border-radius: 30px;
    padding: 12px;
    font-family: 'Poppins', sans-serif;
    background-color: #373737;
    color: white;
    border-color: white;
    margin-left: 10px;
    font-size: 20px;
}

.main__nav__button:hover {
    transition: 1s;
    cursor: pointer;
    transform: scale(1.1,1.1);
}

.footer__container {
    top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.footer__button {
    font-size: 20px;
    padding: 15px;
    width: 250px;
}

.footer__button:hover {
    transition: 1s;
    background-color: blueviolet;
    color: white;
    transform: scale(1.3,1.3);
    cursor: pointer;
}